body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-image: url(../img/TF2_bannerdp.png);
  background-attachment: fixed;
  background-size: 100vw;
}

.header-style {
  display: grid;
  grid-template-columns: 25vw 50vw 25vw;
  background-color: #1f3244;
  height: 7vw;
  align-items: center;
}

.selections {
  justify-items: start;
  align-items: center;
  height: 8vw;
}

.logo-container {
  display: grid;
  justify-items: center;
}

.steam-brand {
  height: 5vw;
}

.banner {
  display: grid;
  justify-items: center;
}

.select-style {
  display: grid;
  grid-template-columns: 12vw 12vw 12vw 12vw;
  height: 3vw;
}

.first-img {
  width: 20vw;
  height: 5vw;
}

select, 
.btn-header-filter {
  background-color: #1f3244;
  border-radius: 3px;
  border: white 0.6px solid;
  color: white;
  height: 3vw;
  width: 11vw;
  margin: 2px;
  font-size: 0.7rem;
}
.btn-header-filter:hover, select:hover {
  background-color: #101f2e;
}
.btn-chart {
  background-color: #1f3244;
  border-radius: 3px;
  border: white 0.5px solid;
  color: white;
  height: 4vw;
  width: 20vw;
  margin: 2px;
  justify-self: end;
  font-size: 0.8rem;
}

.separate-first {
  height: 5vw;
}

.main-style {
  display: grid;
  justify-items: center;
}

.sort-drop-list {
  display: grid;
  justify-items: end;
  width: 65vw;
}

.wrap {
  display: grid;
  justify-content: center;
}

.news-box {
  background-color: white;
  height: auto;
  width: 70vw;
  border: #1f3244 1px solid;
  border-radius: 10px;
  margin-top: 7%;
}

.news-style-container {
  padding: 0% 0% 1% 0%;
}

.result{
  width: 100%;
}

.pa-result{
  margin-bottom: 0%;
  text-align: center;
}

.news-style {
  padding: 0% 5% 1% 5%;
  color: #155592;
  line-height: 140%;
}

.title-style {
  font-family: "Fjalla One", sans-serif;
}

.time-style {
  padding: 0% 5% 1% 5%;
  font-size: 0.9rem;
  font-style: italic;
  color: grey;
  margin: 0%;
}

.total-sum-news {
  color: #155592;
  font-style: italic;
  justify-content: center;
}

.news-style h2 {
  margin-bottom: 0%;
}

.news-style hr {
  color: #d41010;
}

.separate-sec {
  height: 2vw;
}

.back-top {
  background-color: #1f3244;
  color: white;
}

.footer-style {
  background-color: #1f3244;
  height: 78px;
  color: white;
  text-align: center;
  font-size: small;
}

.padding-p {
  padding: 2%;
}

.piechart {
  max-width: 100%;
}

.chart {
  background-color: #1f3244;
  border-radius: 10px;
  padding-top: 25px;
}